<html>

<head> 
	<meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>
	
	<style type='text/css'>
		body{
			margin:0px;
		}
		
		
			
		.bodyFrame{
			position:relative;
			width:1200px;
			min-height:500px;
			left:50%;
			margin-left:-600px;
		}
		
		.bodyContent{
			position:absolute;
			float:right;
			width:998px;
			min-height:500px;
			border: 1px solid #E0E0E0;
			right:0px;
			top:15px;
		}	
			
	</style>
	

	
</head>


<body>


{% include 'seller_top.html' %}

<div class='bodyFrame'>
	{% include 'seller_left.html' %}
	
	
	<div class='bodyContent'>
	
	</div>
	
</div>




</body>

</html>