<html>

<head>

<meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>
<title>亿达购物商城</title>


<style type='text/css'>
		body{
			margin:0px;
		}
		
		
			
		.bodyFrame{
			position:relative;
			width:1200px;
			min-height:500px;
			left:50%;
			margin-left:-600px;
		}
		
		
		
		
		
		
		
		
		
		
		
		
		.t1{
			width:1200px;
			min-height:580px;
			margin:5px;
		}
		
		
		.t1-left1{
			position:relative;
			float:left;
			width:600px;
			min-height:800px;
		}
		
		.t1-left-imgOperate{
			width:550px;
			height:750px;
			position:relative;
		}
		.t1-left1-img{
			width:550px;
			height:750px;
			position:absolute;
			z-index:-1;
		}
		.t1-left1-indexVertical{
			width:550px;
			height:750px;
			
		}
		
		
		
		/*分类标题*/
		.type-head{
			font-size:40px;
			font-weight:900;
			font-family:"黑体";
			text-align:center;
		}
		
		
		/*t1-right1的样式*/
		.t1-right1{
			position:relative;
			float:right;
			width:600px;
		}
		.t1-right1-imgOperate{
			width:600px;
			height:450px;
			position:relative;
		}
		
		.t1-right1-img{
			width:600px;
			height:450px;
			position:absolute;
			z-index:-1;
		}
		
		.t1-right1-indexHerizon{
			width:600px;
			height:450px;
		}
		
		
		
		/*t1-right2的全部样式*/
		.t1-right2{
			position:relative;
			float:right;
			width:480px;
			margin-right:40px;
			margin-top:20px;
			
		}
		.t1-right2-imgOperate{
			position:relative;
			width:480px;
			height:320px;
		}
		.t1-right2-img{
			position:absolute;
			z-index:-1;
			width:480px;
			height:320px;
		}
		.t1-right2-indexHerizon{
			width:480px;
			height:320px;
		}
		
		
		
		/*t2分类区*/
		.t2{
			width:1200px;
			min-height:60px;
		}
		.t2-item{
			width:300px;
			height:220px;
			position:absoulte;
			float:left;
		}
		.t2-imgOperate{
			width:295px;
			height:220px;
			position:relative;
		}
		.t2-img{
			position:absolute;
			z-index:-1;
			width:295px;
			height:220px;
		}
		.t2-indexHerizon{
			width:295px;
			height:220px;
		}
		
		
		
		
		
		/*t3商品区*/
		.t3{
			width:1200px;
			min-height:640px;
		}
		.t3-item1{
			width:400px;
			min-height:600px;
			position:absoulte;
			float:left;
			margin-top:100px;
			margin-left:10px;
		}
		
		.t3-item2{
			width:400px;
			min-height:600px;
			position:absoulte;
			float:left;
			margin-top:60px;
			margin-left:10px;
		}
		
		.t3-item3{
			width:400px;
			min-height:600px;
			position:absoulte;
			float:left;
			margin-top:30px;
			margin-left:10px;
		}
		
		.t3-imgOperate{
			width:400px;
			height:550px;
			position:relative;
		}
		.t3-img{
			position:absolute;
			z-index:-1;
			width:400px;
			height:550px;
		}
		.t3-indexVertical{
			width:400px;
			height:550px;
		}
		
		
		
		/*商品标题*/
		.product-head{
			font-size:20px;
			font-family:"黑体";
			text-align:center;
		}
		/*商品价格*/
		.product-price{
			font-size:20px;
			font-family:"黑体";
			text-align:center;
			color:#AD2628;
		}
		
		
		/*绝对定位,a链接失效！！！解决办法，添加一个绝对定位，透明，外面加上a链接*/
		.link-div{
			position:absolute;
			z-index:1000;
			right:0px;
			bottom:0px;
			top:0px;
			left:0px;
			cursor:pointer;
		}
	
	
</style>

</head>

<body>

{% include "store_view_top.html" %}
<div class='bodyFrame'>
	
	
	<!--分类区-->
		<div class='t1'>
			
			<!--type1分类-->
			<div class='t1-left1'> 
				<div class='t1-left-imgOperate' >
					<div class='t1-left1-img'>
						{% if typeOrder1 %}
							<img class='t1-left1-indexVertical' src='/media/{{typeOrder1.2}}' >
						{% else %}
							<img class='t1-left1-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>
					{% if typeOrder1 %}
						<div class='link-div' id='typeLink1'></div><!--链接层div-->
					{% endif %}
				</div>
				{% if typeOrder1 %}
					<div  class='type-head'><span>{{typeOrder1.1}}</span></div>				
				{% else %}
					<div  class='type-head'><span>分类名称</span></div>
				{% endif %}
				
				
				
						
			</div>
			
	
		
		
		
			<!--type2分类-->
			<div class='t1-right1'>
				<div class='t1-right1-imgOperate'>
					<div class='t1-right1-img'>
						{% if typeOrder2 %}
							<img class='t1-right1-indexHerizon' src='/media/{{typeOrder2.2}}'>
						{% else %}
							<img class='t1-right1-indexHerizon' src='/statics/img/store_manage_indexHerizon.jpg'>
						{% endif %}
					</div>
					{% if typeOrder2 %}
						<div class='link-div' id='typeLink2'></div><!--链接层div-->
					{% endif %}
				</div>
				{% if typeOrder2 %}
					<div  class='type-head'><span>{{typeOrder2.1}}</span></div>
				{% else %}
					<div  class='type-head'><span>分类名称</span></div>
				{% endif %}	
			</div>
			
			
			
			<!--type3分类-->
			<div class='t1-right2'>
				<div class='t1-right2-imgOperate'>
					<div class='t1-right2-img'>
						{% if typeOrder3 %}
							<img class='t1-right2-indexHerizon' src='/media/{{typeOrder3.2}}'>
						{% else %}
							<img class='t1-right2-indexHerizon' src='/statics/img/store_manage_indexHerizon.jpg'>
						{% endif %}
					</div>
					{% if typeOrder3 %}
						<div class='link-div' id='typeLink3'></div><!--链接层div-->
					{% endif %}
				</div>
				{% if typeOrder3 %}
					<div  class='type-head'><span>{{typeOrder3.1}}</span></div>
				{% else %}
					<div  class='type-head'><span>分类名称</span></div>
				{% endif %}
			</div>	
			
		<div>
		
		
		
		
		
		<!--分类区-->
		<table>
		
		<div class='t2'>
			<tr>
			
				<!--type4分类-->
				<td>
					<div class='t2-item'>
						<div class='t2-imgOperate'>
							<div class='t2-img'>
								{% if typeOrder4 %}
									<img class='t2-indexHerizon' src='/media/{{typeOrder4.2}}'>
								{% else %}
									<img class='t2-indexHerizon' src='/statics/img/store_manage_indexHerizon.jpg'>
								{% endif %}
							</div>
							{% if typeOrder4 %}
								<div class='link-div' id='typeLink4'></div><!--链接层div-->
							{% endif %}
						</div>
						{% if typeOrder4 %}
							<div  class='type-head'><span>{{typeOrder4.1}}</span></div>
						{% else %}
							<div  class='type-head'><span>分类名称</span></div>
						{% endif %}
					</div>	
				</td>
				
				
				<!--type5分类-->
				<td>
					<div class='t2-item'>
						<div class='t2-imgOperate'>
							<div class='t2-img'>
								{% if typeOrder5 %}
									<img class='t2-indexHerizon' src='/media/{{typeOrder5.2}}'>
								{% else %}
									<img class='t2-indexHerizon' src='/statics/img/store_manage_indexHerizon.jpg'>
								{% endif %}
							</div>
							{% if typeOrder5 %}
								<div class='link-div' id='typeLink5'></div><!--链接层div-->
							{% endif %}
						</div>
						{% if typeOrder5 %}
							<div  class='type-head'><span>{{typeOrder5.1}}</span></div>
						{% else %}
							<div  class='type-head'><span>分类名称</span></div>
						{% endif %}
					</div>	
				</td>
				
				
			
				<!--type6分类-->
				<td>
					<div class='t2-item'>
						<div class='t2-imgOperate'>
							<div class='t2-img'>
								{% if typeOrder6 %}
									<img class='t2-indexHerizon' src='/media/{{typeOrder6.2}}'>
								{% else %}
									<img class='t2-indexHerizon' src='/statics/img/store_manage_indexHerizon.jpg'>
								{% endif %}
							</div>
							{% if typeOrder6 %}
								<div class='link-div' id='typeLink6'></div><!--链接层div-->
							{% endif %}
						</div>
						{% if typeOrder6 %}
							<div  class='type-head'><span>{{typeOrder6.1}}</span></div>
						{% else %}
							<div  class='type-head'><span>分类名称</span></div>
						{% endif %}
					</div>	
				</td>
			
				<!--type7分类-->
				<td>
					<div class='t2-item'>
						<div class='t2-imgOperate'>
							<div class='t2-img'>
								{% if typeOrder7 %}
									<img class='t2-indexHerizon' src='/media/{{typeOrder7.2}}'>
								{% else %}
									<img class='t2-indexHerizon' src='/statics/img/store_manage_indexHerizon.jpg'>
								{% endif %}
							</div>
							{% if typeOrder7 %}
								<div class='link-div' id='typeLink7'></div><!--链接层div-->
							{% endif %}
						</div>
						{% if typeOrder7 %}
							<div  class='type-head'><span>{{typeOrder7.1}}</span></div>
						{% else %}
							<div  class='type-head'><span>分类名称</span></div>
						{% endif %}
					</div>	
				</td>
			</tr>
			
		</div>
		
		</table>
		
		
		
		
		<!--分类区-->
		<table>
		
		<div class='t2'>
			<tr>
				<!--type8分类-->
				<td>
					<div class='t2-item'>
						<div class='t2-imgOperate'>
							<div class='t2-img'>
								{% if typeOrder8 %}
									<img class='t2-indexHerizon' src='/media/{{typeOrder8.2}}'>
								{% else %}
									<img class='t2-indexHerizon' src='/statics/img/store_manage_indexHerizon.jpg'>
								{% endif %}
							</div>
							{% if typeOrder8 %}
								<div class='link-div' id='typeLink8'></div><!--链接层div-->
							{% endif %}
						</div>
						{% if typeOrder8 %}
							<div  class='type-head'><span>{{typeOrder8.1}}</span></div>
						{% else %}
							<div  class='type-head'><span>分类名称</span></div>
						{% endif %}
					</div>	
				</td>
			
			
				<!--type9分类-->
				<td>
					<div class='t2-item'>
						<div class='t2-imgOperate'>
							<div class='t2-img'>
								{% if typeOrder9 %}
									<img class='t2-indexHerizon' src='/media/{{typeOrder9.2}}'>
								{% else %}
									<img class='t2-indexHerizon' src='/statics/img/store_manage_indexHerizon.jpg'>
								{% endif %}
							</div>
							{% if typeOrder9 %}
								<div class='link-div' id='typeLink9'></div><!--链接层div-->
							{% endif %}
						</div>
						{% if typeOrder9 %}
							<div  class='type-head'><span>{{typeOrder9.1}}</span></div>
						{% else %}
							<div  class='type-head'><span>分类名称</span></div>
						{% endif %}
					</div>	
				</td>
			
				<!--type10分类-->
				<td>
					<div class='t2-item'>
						<div class='t2-imgOperate'>
							<div class='t2-img'>
								{% if typeOrder10 %}
									<img class='t2-indexHerizon' src='/media/{{typeOrder10.2}}'>
								{% else %}
									<img class='t2-indexHerizon' src='/statics/img/store_manage_indexHerizon.jpg'>
								{% endif %}
							</div>
							{% if typeOrder10 %}
								<div class='link-div' id='typeLink10'></div><!--链接层div-->
							{% endif %}
						</div>
						{% if typeOrder10 %}
							<div  class='type-head'><span>{{typeOrder10.1}}</span></div>
						{% else %}
							<div  class='type-head'><span>分类名称</span></div>
						{% endif %}
					</div>	
				</td>
			
				
				<!--type11分类-->
				<td>
					<div class='t2-item'>
						<div class='t2-imgOperate'>
							<div class='t2-img'>
								{% if typeOrder11 %}
									<img class='t2-indexHerizon' src='/media/{{typeOrder11.2}}'>
								{% else %}
									<img class='t2-indexHerizon' src='/statics/img/store_manage_indexHerizon.jpg'>
								{% endif %}
							</div>
							{% if typeOrder11 %}
								<div class='link-div' id='typeLink11'></div><!--链接层div-->
							{% endif %}
						</div>
						{% if typeOrder11 %}
							<div  class='type-head'><span>{{typeOrder11.1}}</span></div>
						{% else %}
							<div  class='type-head'><span>分类名称</span></div>
						{% endif %}
					</div>	
				</td>
			</tr>
			
		</div>
		
		</table>
			
		
		
		
		<!--分类与商品隔离区-->
		<div style='width:998px;height:120px;'></div>
		
		
		
		
		<div class='t3'>
		<!--商品区1-->
		<table>
			<tr>
			<!--1号商品-->
			<td>
			<div class='t3-item1'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder1 %}
							<img class='t3-indexVertical' src='/media/{{productOrder1.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>
					{% if productOrder1 %}
						<div class='link-div' id='proLink1'></div><!--链接层div-->
					{% endif %}
					
				</div>
				{% if productOrder1 %}
					<div  class='product-head'><span>{{productOrder1.1}}</span></div>
					{% ifequal productOrder1.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder1.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			
			<!--2号商品-->
			<td>
			<div class='t3-item2'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder2 %}
							<img class='t3-indexVertical' src='/media/{{productOrder2.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>
				</div>
				{% if productOrder2 %}
					<div  class='product-head'><span>{{productOrder2.1}}</span></div>
					{% ifequal productOrder2.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder2.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>
			</td>
			
			<!--3号商品-->
			<td>
			<div class='t3-item3'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder3 %}
							<img class='t3-indexVertical' src='/media/{{productOrder3.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>
				</div>
				{% if productOrder3 %}
					<div  class='product-head'><span>{{productOrder3.1}}</span></div>
					{% ifequal productOrder3.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder3.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			</tr>
		</div>	
		</table>
		
		
		
		<!--商品区2-->
		<table>
			<tr>
			<!--4号商品-->
			<td>
			<div class='t3-item1'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder4 %}
							<img class='t3-indexVertical' src='/media/{{productOrder4.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>
				</div>
				{% if productOrder4 %}
					<div  class='product-head'><span>{{productOrder4.1}}</span></div>
					{% ifequal productOrder4.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder4.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			
			<!--5号商品-->
			<td>
			<div class='t3-item2'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder5 %}
							<img class='t3-indexVertical' src='/media/{{productOrder5.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>
				</div>
				{% if productOrder5 %}
					<div  class='product-head'><span>{{productOrder5.1}}</span></div>
					{% ifequal productOrder5.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder5.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>
			</td>
			
			<!--6号商品-->
			<td>
			<div class='t3-item3'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder6 %}
							<img class='t3-indexVertical' src='/media/{{productOrder6.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>
				</div>
				{% if productOrder6 %}
					<div  class='product-head'><span>{{productOrder6.1}}</span></div>
					{% ifequal productOrder6.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder6.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			</tr>
		</div>	
		</table>
		
		
		
		
		<!--商品区3-->
		<table>
			<tr>
			<!--7号商品-->
			<td>
			<div class='t3-item1'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder7 %}
							<img class='t3-indexVertical' src='/media/{{productOrder7.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>
				</div>
				{% if productOrder7 %}
					<div  class='product-head'><span>{{productOrder7.1}}</span></div>
					{% ifequal productOrder7.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder7.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			
			<!--8号商品-->
			<td>
			<div class='t3-item2'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder8 %}
							<img class='t3-indexVertical' src='/media/{{productOrder8.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>					
				</div>
				{% if productOrder8 %}
					<div  class='product-head'><span>{{productOrder8.1}}</span></div>
					{% ifequal productOrder8.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder8.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>
			</td>
			
			<!--9号商品-->
			<td>
			<div class='t3-item3'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder9 %}
							<img class='t3-indexVertical' src='/media/{{productOrder9.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>
				</div>
				{% if productOrder9 %}
					<div  class='product-head'><span>{{productOrder9.1}}</span></div>
					{% ifequal productOrder9.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder9.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			</tr>
		</div>	
		</table>
		
		
		
		
		<!--商品区4-->
		<table>
			<tr>
			<!--10号商品-->
			<td>
			<div class='t3-item1'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder10 %}
							<img class='t3-indexVertical' src='/media/{{productOrder10.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>					
				</div>
				{% if productOrder10 %}
					<div  class='product-head'><span>{{productOrder10.1}}</span></div>
					{% ifequal productOrder10.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder10.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			
			<!--11号商品-->
			<td>
			<div class='t3-item2'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder11 %}
							<img class='t3-indexVertical' src='/media/{{productOrder11.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>					
				</div>
				{% if productOrder11 %}
					<div  class='product-head'><span>{{productOrder11.1}}</span></div>
					{% ifequal productOrder11.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder11.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>
			</td>
			
			<!--12号商品-->
			<td>
			<div class='t3-item3'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder12 %}
							<img class='t3-indexVertical' src='/media/{{productOrder12.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>					
				</div>
				{% if productOrder12 %}
					<div  class='product-head'><span>{{productOrder12.1}}</span></div>
					{% ifequal productOrder12.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder12.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			</tr>
		</div>	
		</table>
		
		
		
		<!--商品区5-->
		<table>
			<tr>
			<!--13号商品-->
			<td>
			<div class='t3-item1'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder13 %}
							<img class='t3-indexVertical' src='/media/{{productOrder13.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>					
				</div>
				{% if productOrder13 %}
					<div  class='product-head'><span>{{productOrder13.1}}</span></div>
					{% ifequal productOrder13.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder13.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			
			<!--14号商品-->
			<td>
			<div class='t3-item2'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder14 %}
							<img class='t3-indexVertical' src='/media/{{productOrder14.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>				
				</div>
				{% if productOrder14 %}
					<div  class='product-head'><span>{{productOrder14.1}}</span></div>
					{% ifequal productOrder14.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder14.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>
			</td>
			
			<!--15号商品-->
			<td>
			<div class='t3-item3'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder15 %}
							<img class='t3-indexVertical' src='/media/{{productOrder15.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>					
				</div>
				{% if productOrder15 %}
					<div  class='product-head'><span>{{productOrder15.1}}</span></div>
					{% ifequal productOrder15.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder15.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			</tr>
		</div>	
		</table>
		
		
		
		
		<!--商品区6-->
		<table>
			<tr>
			<!--16号商品-->
			<td>
			<div class='t3-item1'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder16 %}
							<img class='t3-indexVertical' src='/media/{{productOrder16.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>					
				</div>
				{% if productOrder16 %}
					<div  class='product-head'><span>{{productOrder16.1}}</span></div>
					{% ifequal productOrder16.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder16.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			
			<!--17号商品-->
			<td>
			<div class='t3-item2'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder17 %}
							<img class='t3-indexVertical' src='/media/{{productOrder17.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>				
				</div>
				{% if productOrder17 %}
					<div  class='product-head'><span>{{productOrder17.1}}</span></div>
					{% ifequal productOrder17.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder17.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>
			</td>
			
			<!--18号商品-->
			<td>
			<div class='t3-item3'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder18 %}
							<img class='t3-indexVertical' src='/media/{{productOrder18.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>					
				</div>
				{% if productOrder18 %}
					<div  class='product-head'><span>{{productOrder18.1}}</span></div>
					{% ifequal productOrder18.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder18.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			</tr>
		</div>	
		</table>
			
		
		
		<!--商品区7-->
		<table>
			<tr>
			<!--19号商品-->
			<td>
			<div class='t3-item1'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder19 %}
							<img class='t3-indexVertical' src='/media/{{productOrder19.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>					
				</div>
				{% if productOrder19 %}
					<div  class='product-head'><span>{{productOrder19.1}}</span></div>
					{% ifequal productOrder19.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder19.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			
			<!--20号商品-->
			<td>
			<div class='t3-item2'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder20 %}
							<img class='t3-indexVertical' src='/media/{{productOrder20.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>					
				</div>
				{% if productOrder20 %}
					<div  class='product-head'><span>{{productOrder20.1}}</span></div>
					{% ifequal productOrder20.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder20.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>
			</td>
			
			<!--21号商品-->
			<td>
			<div class='t3-item3'>
				<div class='t3-imgOperate'>
					<div class='t3-img'>
						{% if productOrder21 %}
							<img class='t3-indexVertical' src='/media/{{productOrder21.2}}'>
						{% else %}
							<img class='t3-indexVertical' src='/statics/img/store_manage_indexVertical.jpg'>
						{% endif %}
					</div>					
				</div>
				{% if productOrder21 %}
					<div  class='product-head'><span>{{productOrder21.1}}</span></div>
					{% ifequal productOrder21.3 -1 %}
						<div  class='product-price'><span>￥无单价</span></div>
					{% else %}
						<div  class='product-price'><span>￥{{productOrder21.3}}</span></div>
					{% endifequal %}
				{% else %}
					<div  class='product-head'><span>商品名称</span></div>
				{% endif %}
			</div>	
			</td>
			
			</tr>
		</div>	
		</table>	
		
	</div>
	
	
	
	
	
	
	
	
	
	
	
</div>










<script type='text/javascript' src='/statics/jquery/jquery-3.2.1.js'></script>
<script type='text/javascript'>
	$(function(){
		//首页分类切换
		$('#typeLink1').click(function(){
			window.location.href='/viewType/?storeId={{storeId}}&secondId={{typeOrder1.0}}'
		});
			
		$('#typeLink2').click(function(){
			window.location.href='/viewType/?storeId={{storeId}}&secondId={{typeOrder2.0}}'
		});
		$('#typeLink3').click(function(){
			window.location.href='/viewType/?storeId={{storeId}}&secondId={{typeOrder3.0}}'
		});
		$('#typeLink4').click(function(){
			window.location.href='/viewType/?storeId={{storeId}}&secondId={{typeOrder4.0}}'
		});
		$('#typeLink5').click(function(){
			window.location.href='/viewType/?storeId={{storeId}}&secondId={{typeOrder5.0}}'
		});
		$('#typeLink6').click(function(){
			window.location.href='/viewType/?storeId={{storeId}}&secondId={{typeOrder6.0}}'
		});
		$('#typeLink7').click(function(){
			window.location.href='/viewType/?storeId={{storeId}}&secondId={{typeOrder7.0}}'
		});
		$('#typeLink8').click(function(){
			window.location.href='/viewType/?storeId={{storeId}}&secondId={{typeOrder8.0}}'
		});
		$('#typeLink9').click(function(){
			window.location.href='/viewType/?storeId={{storeId}}&secondId={{typeOrder9.0}}'
		});
		$('#typeLink10').click(function(){
			window.location.href='/viewType/?storeId={{storeId}}&secondId={{typeOrder10.0}}'
		});
		$('#typeLink11').click(function(){
			window.location.href='/viewType/?storeId={{storeId}}&secondId={{typeOrder11.0}}'
		});
		
		//首页商品切换	
		$('#proLink1').click(function(){
			window.location.href='/viewProduct/?storeId={{storeId}}&proId={{productOrder1.0}}'
		});
	
	});
	
</script>


</body>


</html>

