<html>

<head> 
	<meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>
	
	<style type='text/css'>
		
		
		.leftContent{
		position:absolute;
		float:left;
		left:0px;
		top:15px;
		width:187px;
		min-height:500px;
		border: 1px solid #E0E0E0;}
		
		.div-left{
			margin:10px;
		}
		
		
		.nameFirst{
			font-weight:bold;
			font-size:18px;
			padding:3px 5px 3px 5px;}
			
		.nameSecond{
			font-size:15px;
			padding:3px 5px 3px 5px;
			cursor:pointer;}
			
	</style>
	
	<script type='text/javascript' src='/statics/jquery/jquery-3.2.1.js'></script>
	
</head>


<body>


	<div class='leftContent'>
		<div class='div-left'>
		{% if typeDic%}
			{% for key,value in typeDic.items %}
				<div class='nameFirst'> {{key.1}} </div>
				{% for sencondType in value %}
					<div class='nameSecond' onclick='showProduct({{sencondType.0}})'>{{sencondType.1}}</div>
				{% endfor %}
			{% endfor %}
		{% endif %}
		
		<div class='nameFirst' onclick='editTypes()'>编辑商品分类</div>
		<div class='nameFirst' onclick='toManageStore()'>店铺主页编辑</div>
		
		</div>
	</div>
	
	
	<script type='text/javascript'>
		function editTypes(){
			window.location.href='/editTypes/'
		}
		
		function showProduct(key){
			window.location.href='/showProduct/'+key+'/'
		}
		
		function toManageStore(){
			window.location.href='/manageStore/'
		}
	</script>
	
	
	
</body>

</html>