<html>

<head>

<meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>
<title>亿达购物底部</title>


<style type='text/css'>
	.bottom-div{
		border-top:1px solid #F5F5F5;
		width:100%;
		height:120px;
		padding:0px;
		margin:0px;
		background-color:white;
		clear:both;
	}
	
	.bottom-content{
		clear:both;
		position:absolute;
		width:1200px;
		height:80px;
		left:50%;
		margin-left:-600px;
		padding:20px;
		color:#7F7F7F;
		background-color:white;
	}
	.a-href{
		 text-decoration:none;
		 color:#7F7F7F;
	}

</style>

</head>

<body>
	
	
	<div class='bottom-div'> 
		<div class='bottom-content'>
			<div> 
				<a class='a-href' href='http://39.106.26.41:8080'><span> 亿达购物商城  &nbsp; | &nbsp; 网址http:39.106.26.41:8080</span></a>
			</div>
			<div> 
				<span> 友情链接：<a class='a-href' href='http://www.taobao.com'>淘宝</a>  &nbsp;|&nbsp;</span>
				<span>  <a class='a-href' href='https://ju.taobao.com'>聚划算</a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='http://www.youku.com'>优酷 </a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='http://www.tudou.com'>土豆</a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='http://www.xiami.com'>虾米</a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='https://www.alipay.com/'>支付宝</a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='http://www.sina.com.cn/'>新浪</a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='https://www.suning.com'>苏宁易购</a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='https://www.jd.com/'>京东商城</a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='http://www.163.com/'>网易</a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='http://u.ctrip.com/'>携程旅行</a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='https://jumpluna.58.com/'>58 同 城</a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='http://www.ifeng.com/'>凤凰</a> &nbsp;|&nbsp; </span>
				<span>  <a class='a-href' href='http://www.autohome.com.cn/'>汽车之家</a> &nbsp;|&nbsp; </span>
			</div>
		</div>
		
	</div>
	
	
	
</body>

</html>