<html>

<head>

<meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>
<title>亿达购物商城</title>


<style type='text/css'>
		body{
			margin:0px;
			background-color:#F8F8FF;
		}
		
		
			
		.bodyFrame{
			position:relative;
			width:1200px;
			min-height:500px;
			left:50%;
			margin-left:-600px;
		}
		
		.bodyContent{
			position:absolute;
			float:right;
			width:1200px;
			min-height:500px;
			border: 1px solid #E0E0E0;
			right:0px;
			top:15px;
		}	
		
		/*单个店铺*/
		.shop {
	    position: relative;
	    height: 38px;
	    background: #fff;
	    overflow: hidden;
		}
		
	
</style>

</head>

<body>

{% include "user_top.html" %}
<div class='bodyFrame'>

	
	<div class='bodyContent'>
	
		<!--单个店铺-->
		<div class="J_ItemHead shop clearfix">
			<div class="cart-checkbox ">
				
			</div>
			<div class="J_ItemHead shop clearfix">
				<span>店铺：<a  title="浪莎女装旗舰店" class="J_MakePoint" data-point="tbcart.8.15">浪莎女装旗舰店</a></span>
			</div>
		</div>
			
		
		
		
	
	</div>
	
</div>


</body>


</html>

