<html>

<head>

<meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>
<title>亿达购物商城</title>


<style type='text/css'>
		body{
			margin:0px;
			background-color:#F8F8FF;
		}
		
		
			
		.bodyFrame{
			position:relative;
			width:1200px;
			min-height:500px;
			left:50%;
			margin-left:-600px;
		}
		
		.bodyContent{
			position:relative;
			width:1170px;
			min-height:500px;
			margin-left:15px;
		}
		
		/*确认订单标题*/	
		
		buy-th-title {
    line-height: 25px;
    color: #333;
    font-weight: 700;
    font-size: 14px;
}



		
</style>

</head>

<body>

{% include "user_center_orderConfirmTop.html" %}
<div class='bodyFrame'>

	<div class='bodyContent'>
	
		<h2 class="buy-th-title" >提交订单出错! &nbsp;&nbsp {{wrongInfo}}</h2>
		
		<a href='/showCar/' style='text-decoration:underline;'> 返回购物车>> </a>
		
		
	</div>





	
</div>








</body>


</html>

