<html>

<head>

<style type='text/css'>

	.leftFrame{
		position:absolute;
		float:left;
		left:0px;
		top:15px;
		width:187px;
		min-height:500px;
		border: 1px solid #E0E0E0;
		
	}
	
	.div-left-frame{
		
		margin:2px;
		padding:2px;
		
	}
	
	.itemDiv{
		width:160px;
		margin:10px;
	}
	
	
</style>


<script type='text/javascript' src='/statics/jquery/jquery-3.2.1.js'></script>

</head>



<body>

<div class='leftFrame'>
		<div class='div-left-frame'>
			<div class='itemDiv'><a href='/showCar/'>我的购物车</a></div>
			<div class='itemDiv'><a href='/showOrderFinal/'>已买到的宝贝</a></div>
		</div>
		
</div>


	
</body>


</html>